@model NonLeague.ViewModels.LeagueSeason

<h3>Fixtures / Results</h3>
<hr />
<h3>@Model.Competition</h3>

<div class="list-group">
@foreach(var month in Model.Season)
{
  <a asp-controller="Match" asp-action="Index" asp-route-competitionid=@Model.CompetitionID asp-route-monthid=@month.ID class="list-group-item">
    <p class="list-group-item-heading">@month.Name</p>
  </a>
}
</div>