@{
    ViewData["Title"] = "About";
}
<h3>About</h3>
<hr />
<div class="container">
    <p class="lead">I'm Andy Bowskill. I'm a software developer and a stroke survivor.</p>
    <p>I've written this Non League website using ASP.NET Core. An alternative to, and defunct, the Non League iOS app.</p>
    <p>Please feel free to contact me at <a href="https://www.andybowskill.co.uk/">www.andybowskill.co.uk</a>.</p>
    <p><strong>If you find this Non League website useful, please buy me a coffee:</strong></p>
    <link href="https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet"><a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/andybowskill"><img src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Buy me a coffee"><span style="margin-left:5px">Buy me a coffee</span></a>
</div>
